h2 {
color:rgb(109, 99, 85);
font-size-adjust:inherit;
font-style: oblique;
}

h3 {
color: chocolate;
}

p {
background-color: cornflowerblue;
}

p.note{
background-color: darkblue;
font-size: medium;
}